/* 
    General Styles
*/
//add style to the navbar
.navbar{
    background-color: black;
    margin: auto;
}
.navText{
    color: white;
}
nav div ul{
    list-style: none;
    margin-bottom: auto;
}
nav div ul li{
   
    display: inline;
}
.ml-auto{
    display: inline-flex;
    align-items: center;
}
#loginButton{
    margin-right: 10px;
}
body{
    background-color: rgb(91, 103, 104);
    padding-top: 66px;
    
}



.footer{
    background-color: black;
    color: white;
    position:sticky;
  bottom: 0;
  width: 100%;
  //height: 2.5rem;
}
.footer-copyright{
    background-color: #263238;
}
.list-unstyled{
    display: inline;
}
.footer-ul{
    padding-left: 0px;
}
.footer-ul li a{
    background-image: linear-gradient(to bottom left, rgb(247, 3, 174), rgb(243, 136, 211));
    height: 42px;
  width: 42px;
// background-color: white;
   color: white; // #ff4081
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
#MDBFooter{
    border-top: 2px solid rgb(247, 3, 174);
}

//adjust the span feColor
span{
    color:rgb(252, 5, 169);;
    font-size: medium;
    cursor: pointer;
}
//adjust form title
.titleForm{
    color: rgb(252, 5, 169);
}

.logInForm{
    width: auto;
    margin: auto;
    //margin-bottom: 240px;
    
}

.logInForm form {
    width: 350px;
    height: 500px;
    background-color: white;
}
//Landing page shop now link
.shopNowLink{
    text-decoration: none;
    cursor:pointer;
    color: white;
    border: 3px solid black;
    width: 170px;
    margin: auto;
    border-radius: 20px;
    background-color: black;
}
.shopNowLink:hover{
    text-decoration: none;
    color: black;
    background-color: white;
}
.shopNowLink:link{
    text-decoration: none;
}
// .displayOff{
//     display: auto;
// }
// #signUp{
//     display: none;
// }
// .displayOn{
//     display: none;
// }

//display the button inside the carusel picture in the home page
// .caruselButton{
//     position: absolute;
//     top: 171px;
//     right: 600px;
//     width: 250px;
//     height: 58px;
//     border: 3px solid #00f8ff;
//     background: black;
//     color: white;
//     font-size: 28px;
//     text-align: center;
//     border-radius: 9px;
//     animation: auto;
// }
