.navbar{
    background: rgb(7,33,87);
   background: rgb(2,0,5);
   background: linear-gradient(90deg, rgba(2,0,5,1) 49%, rgba(45,3,71,1) 92%);
}
.navText{
    color: white;
}
.navText:hover{
    text-decoration: none;
    color: whitesmoke;
    text-shadow:5px 5px 5px whitesmoke;
}

// Used to fix the footer to the bottom with flexbox
.bodyInLayout {
    width: auto;
    flex: 1 0 auto;
}


//define the background color in the body and adjust the visibility of the body blocked by navbar with the paddig 
body{ 
   padding-top: 56px;
   background: rgb(7,33,87);
   background: rgb(2,0,5);
   background: linear-gradient(90deg, rgba(2,0,5,1) 49%, rgba(45,3,71,1) 92%);   
}

.footer{
    background-color: black;
    color: white;
    border-top: 2px solid rgb(247, 3, 174);
    flex-shrink: 0;
}

// css for footer social media badges
.socialMediaBadges{
    background-image: linear-gradient(to bottom left, rgb(247, 3, 174), rgb(243, 136, 211));
    height: auto;
    width: 30px;
    color: white;
    padding: 5px;
    text-align: center;
}

//adjust form title
.titleForm{
    color: rgb(252, 5, 169);
}

.logInForm{
    width: auto;
    margin: auto;    
}

.logInForm form {
    width: 350px;
    height: 500px;
    background-color: whitesmoke;
    margin: auto;
    margin-block: 60px;
    //margin-top: 125px;
    border-radius: 15px;
    box-shadow: 8px 8px 13px grey;
}
//Landing page shop now link
.shopNowLink{
    text-decoration: none;
    cursor:pointer;
    color: white;
    padding: 7px;
    width: 200px;
    margin: auto;
    border-radius: 20px;
    background: rgb(96,96,122);
    background: linear-gradient(90deg, rgba(96,96,122,1) 10%, rgba(15,16,18,1) 100%);
}
.shopNowLink:hover{
    color: white;
    background: rgb(15,16,18);
    background: linear-gradient(90deg, rgba(15,16,18,1) 26%, rgba(96,96,122,1) 85%);
}
.linkInlandingPage:link{
    text-decoration: none;
}
.carousel-caption {
  width: 200px;
  margin: auto;
}
// for setting text to pink
.pinkText {
    color: rgb(252, 5, 169);
}
// cartCard delete button
.deleteButton {
    height: 2rem;
}
