
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// navbar
.navbar{
   background: rgb(7,33,87);
   background: rgb(2,0,5);
   background: linear-gradient(90deg, rgba(2,0,5,1) 49%, rgba(45,3,71,1) 92%);
    //background-color: black;
    //margin: auto;
    padding-block: 5px;
}
.navText{
    color: white;
    font-size: 1.4rem;
}
.navText:hover{
    text-decoration: none;
    color: whitesmoke;
    text-shadow:5px 5px 5px whitesmoke;
}
// footer contact link
.footercontactText{
    color: white;
}
.footercontactText:hover{
    text-decoration: none;
    color: whitesmoke;
    text-shadow:5px 5px 5px whitesmoke;
}
.logo{
    font-family: 'Iceland';
    background: linear-gradient(90deg, rgba(176,203,210,1) 0%, rgba(182,148,182,1) 35%, rgba(222,193,174,1) 63%, rgba(167,227,215,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 0px;
}
.logo:hover{
    text-shadow:5px 5px 5px whitesmoke;
}

//button in navbar for user to log out
.loggedOutButton{
    border: none;
    background: transparent;
    color: white;
}
.loggedOutButton:hover{
    text-shadow:5px 5px 5px whitesmoke;
}
//button in navbar to log out a google user

.signOutButtonLink {
    border: none;
    background: transparent;
    color: white;
}
.signOutButtonLink:hover{
    color: white;
    text-shadow:5px 5px 5px whitesmoke;
    text-decoration: none;
}

// Used to fix the footer to the bottom with flexbox
.bodyInLayout {
    width: auto;
    flex: 1 0 auto;
    //the following properties are used to keep the cards in the product page centered
    display: flex;
    align-items: center;
}



//define the background color in the body and adjust the visibility of the body blocked by navbar with the paddig 
body{ 
   padding-top: 56px;
   background: rgb(7,33,87);
   background: rgb(2,0,5);
   background: linear-gradient(90deg, rgba(2,0,5,1) 49%, rgba(45,3,71,1) 92%);   
}

.footer{
    background-color: black;
    color: white;
    border-top: 2px solid rgb(247, 3, 174);
    flex-shrink: 0;
}

// css for footer social media badges
.socialMediaBadges{
    background-image: linear-gradient(to bottom left, rgb(247, 3, 174), rgb(243, 136, 211));
    height: auto;
    width: 30px;
    color: white;
    padding: 5px;
    text-align: center;
}

//adjust form title
.titleForm{
    color: rgb(252, 5, 169);
}

.logInForm{
    width: auto;
    margin: auto;    
}

.logInForm form {
    width: 350px;
    height: 500px;
    background-color: whitesmoke;
    margin: auto;
    margin-block: 60px;
    //margin-top: 125px;
    border-radius: 15px;
    box-shadow: 8px 8px 13px grey;
}
.loginCursor {
    cursor: pointer;}
    
//Landing page shop now link
.shopNowLink{
    text-decoration: none;
    cursor:pointer;
    color: white;
    padding: 7px;
    //max-width: 200px;
    margin: auto;
    border-radius: 5px;
    border-color: rgb(96,96,122);
    background: rgb(96,96,122);
    background: linear-gradient(90deg, rgba(96,96,122,1) 10%, rgba(15,16,18,1) 100%);
}
.shopNowLink:hover{
    color: white;
    border-color: rgb(15,16,18);
    background: rgb(15,16,18);
    background: linear-gradient(90deg, rgba(15,16,18,1) 26%, rgba(96,96,122,1) 85%);
}
.linkInlandingPage:link{
    text-decoration: none;
}
.carousel-caption {
  width: 200px;
  margin: auto;
}
// for setting text to pink
.pinkText {
    color: rgb(252, 5, 169);
}
// cartCard delete button
.deleteButton {
    height: 2rem;
}

//********** user page ****************
.mainUserpageContainer{
    margin: auto;
}
.card.cardInUserPage{
    width: 18rem;
    height: auto;
    background: transparent;
    // border: 1px solid #17a2b8;
    color: white;
}
.card.cardInUserPage .card-body{
    color: white;
    // border: 1px solid  #17a2b8;
}
.card.cardInUserPage .card-body .card-title.h5{
    color: #fc05a9;
}
//**************************************

//footer
.footer{
    font-family: 'Montserrat';
}
.footer a{
    color: white;
    text-decoration: none;
}
