/* 
    General Styles
*/
nav div ul{
    list-style: none;
    margin-bottom: auto;
}
nav div ul li{
    display: inline;
}
.ml-auto{
    display: inline-flex;
    align-items: center;
}
#loginButton{
    margin-right: 10px;
}
